{% extends 'Main/base.html' %}
{%load static%}

{%block title%}
{{ product.name }}
{%endblock%}
{% block content %}
<div class="card-section fw-bold">
  <div class="row row-cols-1 row-cols-md-5 g-4 ">
    <div class="col">
      <div class="card h-100 border-0">
        <img src="{% if product.image %}{{ product.image.url }}{%else%} {%static 'img/no_image.png'%}{%endif%}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{product.name}}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted text-decoration-line-through">£{{product.price}}</small><small class="ms-3 text-dark">£{{product.price}}</small>
        </div>
        <p class="card-text">{{ product.description|linebreaks }}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}