{%extends 'Main/base.html' %}
{%load static%}

{%block title%}
    {%if category%}{{ category.name }}{%else%}Products{%endif%}
{%endblock title%}

{%block content%}
    categories
    <ul>
        <li {% if not category %} class='selected'{% endif %}>
            <a href="{%url 'Main:product_list' %}">All</a>
        </li>
        {%for c in categories%}
        <li {% if category.slug == c.slug %} class="selected" {% endif %}>
            <a href="{{c.get_absolute_url }}">{{c.name}}</a>
        </li>
        {% endfor %}
    </ul>
    <div class="container-sm">
        <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
        <div class="row row-cols-4 g-5">
            {% for product in products %}
            <div class="col">
                <div class="card h-100">
                    <a href="{{ product.get_absolute_url }}">
                        <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'img/no_image.png' %}{% endif %}" class="card-img-top" alt="">
                    </a>
                    <div class="card-body">
                        <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        £{{ product.price }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{%endblock content%}